node_modules/
dist/
dist-ssr/
.env
.env.*
!.env.example
*.local
.mongo/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.sw?
